In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('../data/raw/weather_classification_data.csv')

# Normalize headers to lowercase and remove spaces
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [12]:
# Check for data types
df.dtypes

temperature             float64
humidity                  int64
wind_speed              float64
precipitation_(%)       float64
cloud_cover              object
atmospheric_pressure    float64
uv_index                  int64
season                   object
visibility_(km)         float64
location                 object
weather_type             object
dtype: object

In [13]:
# Check for missing values
df.isnull().sum()

temperature             0
humidity                0
wind_speed              0
precipitation_(%)       0
cloud_cover             0
atmospheric_pressure    0
uv_index                0
season                  0
visibility_(km)         0
location                0
weather_type            0
dtype: int64

In [14]:
# Check for duplicates
df.duplicated().sum()

0

In [15]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
temperature,13200.0,NaN,NaN,NaN,19.127576,17.386327,-25.0,4.0,21.0,31.0,109.0
humidity,13200.0,NaN,NaN,NaN,68.710833,20.194248,20.0,57.0,70.0,84.0,109.0
wind_speed,13200.0,NaN,NaN,NaN,9.832197,6.908704,0.0,5.0,9.0,13.5,48.5
precipitation_(%),13200.0,NaN,NaN,NaN,53.644394,31.946541,0.0,19.0,58.0,82.0,109.0
cloud_cover,13200,4,overcast,6090,NaN,NaN,NaN,NaN,NaN,NaN,NaN
atmospheric_pressure,13200.0,NaN,NaN,NaN,1005.827896,37.199589,800.12,994.8,1007.65,1016.7725,1199.21
uv_index,13200.0,NaN,NaN,NaN,4.005758,3.8566,0.0,1.0,3.0,7.0,14.0
season,13200,4,Winter,5610,NaN,NaN,NaN,NaN,NaN,NaN,NaN
visibility_(km),13200.0,NaN,NaN,NaN,5.462917,3.371499,0.0,3.0,5.0,7.5,20.0
location,13200,3,inland,4816,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weather_type,13200,4,Rainy,3300,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# Check for unique values
df.nunique()

temperature              126
humidity                  90
wind_speed                97
precipitation_(%)        110
cloud_cover                4
atmospheric_pressure    5456
uv_index                  15
season                     4
visibility_(km)           41
location                   3
weather_type               4
dtype: int64

In [19]:
df['weather_type'].unique()

array(['Rainy', 'Cloudy', 'Sunny', 'Snowy'], dtype=object)